.tag {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: navy;
    color: white;
}

.tag__tag-text {
    text-transform: uppercase;
}

.tag__tag-x {
    font-weight: bold;
    margin: 0 5px 0 10px;
}

.tag__tag-x:hover {
    cursor: pointer;
}