.query-params {
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: none;
}

.query-params__label {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-right: 20px;
}

.query-params__input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    min-width: 10%;
    height: auto;
    min-height: 5vh;
    border: 2px solid black;
    border-right: none;
}

.query-params__input {
    height: 4vh;
    width: auto;
    border: none;
    outline: none;
    padding-left: 10px;
    margin-right: -30px;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

.query-params__keywords {
    height: auto;
    min-height: 5vh;
    display: flex;
    flex-wrap: wrap;
    max-width: 40vw;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid black;
    border-left: none;
}

.query-params__tag-wrapper {
    height: 60%;
    width: auto;
}