.gallery {
    width: 80vw;
}

.gallery__wrapping-column {
    max-width: 80vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.gallery__image {
    height: auto;
    width: 33%;
    margin: 0;
    line-height: 0;
    object-fit: cover;
}


