.gallery-container {
    width: 80vw;
}

.image-gallery {
    max-width: 80vw;
}

.imageStyle {
    height: auto;
    width: 33%;
    margin: 0;
    border: 3px solid white;
    line-height: 0;
    object-fit: cover;
}

.frozenImageStyle {
    border: 3px solid blue;
    margin: -3px;
    width: 23vw;
    height: auto;
}

.unfrozenStyle {
    height: auto;
    width: 100%;
    position: relative;
    list-style: none;
}

.unfrozenStyle img {
    height: auto;
    width: 100%;
}