.image-container {
    width: 33%;
    margin: 0;
    border: 3px solid white;
    position: relative;
}

.indiv-image {

}

.mapped-image {
    height: auto;
    width: 100%;
}

.hover-contents {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.4);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.hover-icon {
    margin-top: 10px;
    margin-right: 10px;
    height: auto;
    width: 40px;
}

.--download, .--sourcelink, .--check {
    color: white;
    border: 1px solid rgba(255,255,255,0);
    border-radius: 100%;
    height: auto;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.--download:hover, .--sourcelink:hover {
    border: 1px solid white;
    border-radius: 100%;
    cursor: pointer;
}

.--icon {
    height: auto;
    width: 40px;
    padding: 3px;
}

.--srcli {
    padding: 6px;
}

.--check {
    transition: .4s;
    animation-name: download-check;
    animation-duration: 2s;
    animation-play-state: running;
    animation-iteration-count: 1;
}

.--check:hover {
    border: 1px solid rgba(255,255,255,0);
    border-radius: 100%;
    cursor: auto;
}

/* @keyframes download-check {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
} */

.rotate {
    animation-name: download-rotate;
    animation-duration: .8s;
    animation-play-state: running;
    animation-iteration-count: infinite;
}

@keyframes download-rotate {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg)}
}

