.image-container {
    width: 33%;
    margin: 0;
    border: 3px solid white;
    position: relative;
}

.indiv-image {

}

.mapped-image {
    height: auto;
    width: 100%;
}

.hover-contents {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.4);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.hover-icon {
    margin-top: 20px;
    margin-right: 20px;
}

.--download {
    color: red;
}

.--sourcelink {
    color: blue;
}