.settings {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.settings--light {
    background: rgba(0,0,0,.6);
}

.settings--dark {
    background: rgba(0,0,0,.4);
}

.settings__container{
    height: 70vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}

.settings__container--light {
    color: rgb(19,19,19);
    background: white;
}

.settings__container--dark {
    background: rgb(19,19,19);
    color: white;
}

.settings__title{
    color: inherit;
}

.settings__close-x{
    position: absolute;
    top: calc(14% + 10px);
    right: calc(25% + 10px);
    transform: rotate(45deg);
    margin: 0;
    padding: 0;
    font-size: 32px;
}

.settings__close-x--light {
    color: rgb(53, 157, 255);
}

.settings__close-x--dark {
    color: rgb(255, 152, 93);
}

.settings__close-x:hover {
    cursor: pointer;
}

.options{
    width: 100%;
    height: 80%;
}

.options__image-count{
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: row;
}

.options__ui-theme{

}

.options__option-label{

}

.options__option-label--main{

}

.options__option-label--note{

}

.options__image-count-slider{
    width: 40%;
    height: 100px;
}

.options__ui-toggle{

}

.ui-toggle--light {

}

.ui-toggle--dark {

}

.ui-toggle--light:focus {
}

.ui-toggle--dark:focus {
    
}
