.settings {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.settings--light {
    background: rgba(0,0,0,.6);
}

.settings--dark {
    background: rgba(0,0,0,.4);
}

.settings__container{
    height: 70vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 4px;
}

.settings__container--light {
    color: rgb(19,19,19);
    background: white;
}

.settings__container--dark {
    background: rgb(19,19,19);
    color: white;
}

a {
    color: inherit;
}

.settings__title{
    color: inherit;
    font-size: 32px;
    font-family: helvetica, sans-serif;
    font-weight: thin;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin-top: 50px;
}

.settings__close-x{
    position: absolute;
    top: calc(15% + 10px);
    right: calc(27% + 10px);
    transform: rotate(45deg);
    margin: 0;
    padding: 0;
    font-size: 32px;
}

.settings__ok{
    position: absolute;
    bottom: calc(17% + 10px);
    right: calc(27% + 10px);
    margin: 0;
    padding: 0;
    font-size: 22px;
}
/* 
.settings__ok:hover {
    text-decoration: underline;
} */

.settings__action--light {
    color: rgb(53, 157, 255);
}

.settings__action--light:hover {
    color: rgb(255, 152, 93);
}

.settings__action--dark {
    color: rgb(255, 152, 93);
}

.settings__action--dark:hover {
    color: rgb(53, 157, 255);
}

.settings__close-x:hover {
    cursor: pointer;
}

.options{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
}

.options__option-interact {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.options__image-count{
    width: 80%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.options__ui-theme{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.options__option-label{
    font-weight: bold;
}

.options__option-label--main{
    font-size: 16px;
    letter-spacing: 2px;
    text-align: right;
    white-space: nowrap;
    width: 30%;
}

.options__option-label--main::after{
    content: ':';
}

.options__option-label--note{
    /* color: rgb(40,40,40); */
    /* mix-blend-mode: exclusion; */
}

.options__image-count-slider{
    width: 80%;
}

.options__ui-toggle{

}

.ui-toggle--light {

}

.ui-toggle--dark {

}

.ui-toggle--light:focus {
}

.ui-toggle--dark:focus {
    
}
